#map {
    height: 95%;
    border: solid 1px;
    margin: 5px;
}

html,
body {
    height: 90%;
    margin: 0;
    padding: 0;
}

#add {
    margin-bottom: 5px;
}

#header {
    text-align: center;
    height: 10%;
}

#searchBoxes {
    text-align: center;
}

#titleFilter, #keywordFilter{
    height: 20px;
    width: 200px;
    border: solid black 1px;
    border-radius: 3px;
    text-align: center;
}

